[submodule "dependencies/parse"]
	path = dependencies/parse
	url = git@github.com:mattbierner/parse.js.git
[submodule "dependencies/ecma-unparse"]
	path = dependencies/ecma-unparse
	url = https://github.com/mattbierner/ecma-unparse.git
[submodule "dependencies/nu"]
	path = dependencies/nu
	url = https://github.com/mattbierner/nu.git
[submodule "dependencies/khepri-ast"]
	path = dependencies/khepri-ast
	url = git://github.com/mattbierner/khepri-ast.git
[submodule "dependencies/ecma-ast"]
	path = dependencies/ecma-ast
	url = git://github.com/mattbierner/ecma-ast.git
[submodule "dependencies/seshat"]
	path = dependencies/seshat
	url = git://github.com/mattbierner/seshat
