[submodule "dependencies/nu"]
	path = dependencies/nu
	url = https://github.com/mattbierner/nu.git
[submodule "dependencies/ecma-ast"]
	path = dependencies/ecma-ast
	url = git://github.com/mattbierner/ecma-ast.git
[submodule "resources/parse-ecma"]
	path = resources/parse-ecma
	url = git://github.com/mattbierner/parse-ecma.git
[submodule "resources/parse"]
	path = resources/parse
	url = git://github.com/mattbierner/parse.js.git
[submodule "dependencies/js-beautify"]
	path = dependencies/js-beautify
	url = https://github.com/einars/js-beautify.git
[submodule "resources/seshat"]
	path = resources/seshat
	url = git://github.com/mattbierner/seshat.git
[submodule "resources/bennu"]
	path = resources/bennu
	url = git@github.com:mattbierner/bennu.git
