<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="description" content="Khepri is ECMAScript for functional programming. Khepri compiles to plain old Javascript and makes Javascript more concise, more consistent, and more fun.">
        
        <title>Khepri</title>
        
        <link rel="stylesheet" href="stylesheets/styles.css">
        <link rel="stylesheet" href="stylesheets/pygment_trac.css">
        {% for file in page.extra_css %}
            <link rel="stylesheet" href="{{ file }}">
        {% endfor %}

        <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!--[if lt IE 8]>
        <link rel="stylesheet" href="stylesheets/ie.css">
        <![endif]-->
        
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"
    </head>
  
    <body>
        <header class='wrapper'>
            <div class="group">
                <div id="title">
                    <img id="kep-logo" src="media/kep_logo.svg" />
                    <div id='title-text'>
                        <h1>Khepri</h1>
                        <p id="blurb">
                            <span>Functional</span>
                            <span>ECMAScript</span>
                        </p>
                    </div>
                </div>
                
                <div id="links">
                    <ul class="cf">
                        <li id="link-npm">
                            <a href="https://npmjs.org/package/khepri">
                                <span class='download-title'>Package</span>
                                <span class='download-item'>NPM</span>
                            </a>
                        </li>
                        <li id='link-github'>
                            <a href="https://github.com/mattbierner/khepri">
                                <span class='download-title'>Source</span>
                                <span class='download-item'>GitHub</span>
                            </a>
                        </li>
                    </ul>
                    <pre id="npm-code">$ npm install -g khepri</pre>
                </div>
                <span id='version'>V1.3</span>
            </div>
            
            <nav id='pages'>
                <ul class='group'>
                    <li><a href="index.html">Overview</a></li>
                    <li><a href="https://github.com/mattbierner/khepri/wiki">Documentation</a></li>
                    <li><a href="console.html">Try Khepri</a></li>
                </ul>
            </nav>
        </header>
      
        <article class='wrapper'> {{content}}</article>
      
        <footer class='wrapper cf'>
            <div id='footer-credits'>
                <div id="project-credits" class='credits left'>
                    <span>Project created and maintained by</span> <br/>
                    <span><a href="http://mattbierner.com">Matt Bierner</a></span>
                </div>
                <div id="bottom-logo"><img src="media/big_kep.svg" /></div>
                <div id="hosting-credits" class='credits right'>
                    <span>Hosted on GitHub Pages</span><br/>
                    <span>Theme based on <a href="http://twitter.com/#!/michigangraham">mattgraham</a></span>
                </div>
            </div>
            <div id='footer-lines'>
                <div><div><div><div></div></div></div></div>
            </div>
        </footer>
    
    
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    {% for file in page.extra_js %}
        <script type="application/javascript" src="{{ file }}"></script>
    {% endfor %}
  </body>
</html>